html, body {
    margin: 0;
    height: 100%;
}

#main-row {
    min-height: 100vh;
}

#map-container {
    height: 100%;
}

.leaflet-fade-anim .leaflet-tile {
    will-change: unset;
  }
  
.leaflet-zoom-anim .leaflet-zoom-animated {
will-change: unset;
}